@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@liveblocks/react-ui/styles.css';
@import '@liveblocks/react-lexical/styles.css';

@import '../styles/dark-theme.css';

/* ========================================== TAILWIND STYLES */
@layer base {
	:root {
		background: #09111f;
		color: #fff;
		margin: 0;
	}

	.custom-scrollbar::-webkit-scrollbar {
		width: 4px;
		height: 4px;
		border-radius: 50px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		background: #09090a;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: #2e3d5b;
		border-radius: 50px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #7878a3;
	}
}

@layer utilities {
	.text-28-semibold {
		@apply text-[28px] font-semibold;
	}
	.text-10-regular {
		@apply text-[10px] font-normal;
	}

	.gradient-blue {
		@apply bg-gradient-to-t from-blue-500 to-blue-400;
	}
	.gradient-red {
		@apply bg-gradient-to-t from-red-500 to-red-400;
	}

	.shad-dialog {
		@apply w-full max-w-[400px] rounded-xl border-none bg-doc bg-cover px-5 py-7 shadow-xl sm:min-w-[500px] !important;
	}

	.shad-dialog button {
		@apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
	}

	.shad-select {
		@apply w-fit border-none bg-transparent text-blue-100 !important;
	}

	.shad-select svg {
		@apply ml-1 mt-1;
	}

	.shad-select-item {
		@apply cursor-pointer bg-dark-200 text-blue-100 focus:bg-dark-300 hover:bg-dark-300 focus:text-blue-100 !important;
	}

	.shad-popover {
		@apply w-[460px] border-none bg-dark-200 shadow-lg !important;
	}

	.floating-toolbar {
		@apply flex w-full min-w-max items-center justify-center gap-2 rounded-lg bg-dark-350 p-1.5 shadow-xl;
	}

	.floating-toolbar-btn {
		@apply relative inline-flex size-8 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50;
	}

	.toolbar-wrapper {
		@apply z-50 custom-scrollbar w-screen overflow-auto border-y border-dark-300 bg-dark-100 pl-3 pr-4 shadow-sm;
	}

	.editor-wrapper {
		@apply custom-scrollbar h-[calc(100vh-140px)] gap-5 overflow-auto px-5 pt-5 lg:flex-row lg:items-start lg:justify-center  xl:gap-10 xl:pt-10;
	}

	.header {
		@apply min-h-[92px] min-w-full flex-nowrap bg-dark-100 flex w-full items-center justify-between gap-2 px-4;
	}

	.document-list-container {
		@apply flex flex-col items-center mb-10 w-full gap-10 px-5;
	}

	.document-list-title {
		@apply max-w-[730px] items-end flex w-full justify-between;
	}

	.document-list-item {
		@apply flex items-center justify-between gap-4 rounded-lg bg-doc bg-cover p-5 shadow-xl;
	}

	.document-list-empty {
		@apply flex w-full max-w-[730px] flex-col items-center justify-center gap-5 rounded-lg bg-dark-200 px-10 py-8;
	}

	.document-title-input {
		@apply min-w-[78px] border-none bg-transparent px-0 text-left text-base font-semibold leading-[24px] focus-visible:ring-0 focus-visible:ring-offset-0 disabled:text-black sm:text-xl md:text-center !important;
	}

	.document-title {
		@apply line-clamp-1 border-dark-400 text-base font-semibold leading-[24px] sm:pl-0 sm:text-xl;
	}

	.view-only-tag {
		@apply rounded-md bg-dark-400/50 px-2 py-0.5 text-xs text-blue-100/50;
	}

	.collaborators-list {
		@apply hidden items-center justify-end -space-x-3 overflow-hidden sm:flex;
	}

	.share-input {
		@apply h-11 flex-1 border-none bg-dark-400 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
	}

	.remove-btn {
		@apply rounded-lg bg-transparent px-0 text-red-500 hover:bg-transparent;
	}

	.comments-container {
		@apply mb-10 space-y-4 lg:w-fit flex w-full flex-col items-center justify-center;
	}

	.comment-composer {
		@apply w-full max-w-[800px] border border-dark-300 bg-dark-200 shadow-sm lg:w-[350px];
	}

	.comment-thread {
		@apply w-full max-w-[800px] border border-dark-300 bg-dark-200 shadow-sm lg:w-[350px] transition-all;
	}

	.loader {
		@apply flex size-full h-screen items-center justify-center gap-3 text-white;
	}

	/* ======================== Auth Pages */
	.auth-page {
		@apply flex h-screen w-full flex-col items-center justify-center gap-10;
	}

	/* ======================== Home Page */
	.home-container {
		@apply relative flex min-h-screen w-full flex-col items-center gap-5 sm:gap-10;
	}

	.document-ul {
		@apply flex w-full max-w-[730px] flex-col gap-5;
	}

	/* ======================== CollaborativeRoom */
	.collaborative-room {
		@apply flex size-full max-h-screen flex-1 flex-col items-center overflow-hidden;
	}
}

/* ======================== Clerk Override */
.cl-avatarBox {
	width: 36px;
	height: 36px;
}

.cl-userButtonTrigger {
	height: fit-content !important;
}

.cl-cardBox,
.cl-signIn-start,
.cl-signUp-start,
.cl-footer {
	background: #060d18;
	box-shadow: none;
	padding: 20px;
}

.cl-socialButtonsBlockButton,
.cl-socialButtonsBlockButton:hover {
	height: 40px;
	background-color: #3371ff;
	color: #fff;
}

.cl-internal-2gzuzc {
	filter: brightness(1000%);
}

.cl-logoBox {
	height: 52px;
}

/* ======================== Liveblocks Override */
.lb-root {
	--lb-accent-subtle: #0b1527;
	--lb-radius: 0px;
	--lb-dynamic-background: #1b2840;
}

.lb-comment,
.lb-thread-comments,
.lb-composer,
.lb-comment-reaction {
	background-color: #0f1c34;
	color: #fff;
}

.lb-button {
	--lb-foreground-moderate: #fff;
}

.lb-button:where([data-variant='primary']) {
	background-color: #161e30;
	color: #b4c6ee;
	padding: 8px;
}

.lb-button:where(
		[data-variant='default']:not(
				:is(
						:enabled:hover,
						:enabled:focus-visible,
						[aria-expanded='true'],
						[aria-selected='true']
					)
			)
	) {
	color: #b4c6ee;
}

.lb-button:where(
		:enabled:hover,
		:enabled:focus-visible,
		[aria-expanded='true'],
		[aria-selected='true']
	) {
	--lb-button-background: #161e30;

	color: #b4c6ee;
}

.lb-inbox-notification-list-item:where(:not(:last-of-type)) {
	border-bottom: none;
}

.lb-comment-body,
.lb-dropdown-item,
.lb-dropdown-item-icon,
.lb-composer-editor {
	color: #fff;
}

.lb-composer-action {
	padding: 8px;
}

.lb-comment-content {
	background: #0b1527;
	margin-top: 16px;
	padding: 12px;
	border-radius: 4px;
	font-size: 14px;
}

.lb-comment-date,
.lb-lexical-mention-suggestion-user,
.lb-composer-suggestions-list-item,
.lb-inbox-notification-date,
.lb-comment-author {
	color: #b4c6ee;
}

.data-liveblocks-portal {
	color: #b4c6ee !important;
}

.lb-root:where(:not(.lb-root .lb-root)) {
	--lb-dynamic-background: #1b2840;
	color: #fff;
}

.lb-composer-editor :where([data-placeholder]) {
	color: #b4c6ee;
	font-size: 14px;
}

.lb-lexical-floating-threads-thread:where([data-resolved]) {
	opacity: 40%;
}

.lb-elevation {
	background: #0f1c34;
}

.background-div {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	--border-radius-tl: 3rem;
	--border-radius-tr: 3rem;
	--border-radius-br: 3rem;
	--border-radius-bl: 3rem;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	max-width: 100%;
	text-align: var(--alignment);
	z-index: 0;
	background-color: transparent;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%3E%20path%20%7B%20stroke%3A%20rgba(255,255,255,0.2)%3B%20stroke-width%3A%201.01px%3B%20fill%3A%20none%3B%20vector-effect%3A%20non-scaling-stroke%3B%20%7D%20%3C%2Fstyle%3E%20%3Cpath%20d%3D%22m%200%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%22%20transform%3D%22translate%28-256%20768%29%22%3E%3Canimate%20attributeName%3D%22d%22%20repeatCount%3D%22indefinite%22%20calcMode%3D%22linear%22%20dur%3D%228500ms%22%20values%3D%22m%200%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%3Bm%200%2C0%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20m%20-1041.95%2C-273.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20m%20-1006.05%2C-238.05%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20m%20-1041.95%2C-273.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20m%20-1006.05%2C-238.05%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20m%20-1024%2C1024%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20m%20238.05%2C1006.05%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20m%20273.95%2C1041.95%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20m%20238.05%2C1006.05%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20m%20273.95%2C1041.95%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%3Bm%200%2C0%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20m%20-1059.9%2C-291.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20m%20-988.1%2C-220.1%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20m%20-1059.9%2C-291.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20m%20-988.1%2C-220.1%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20m%20-1024%2C1024%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20m%20220.1%2C988.1%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20m%20291.9%2C1059.9%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20m%20220.1%2C988.1%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20m%20291.9%2C1059.9%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%3Bm%200%2C0%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20m%20-1077.86%2C-309.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20m%20-970.14%2C-202.14%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20m%20-1077.86%2C-309.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20m%20-970.14%2C-202.14%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20m%20-1024%2C1024%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20m%20202.14%2C970.14%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20m%20309.86%2C1077.86%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20m%20202.14%2C970.14%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20m%20309.86%2C1077.86%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%3Bm%200%2C0%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20m%20-1092.82%2C-324.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20m%20-955.18%2C-187.18%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20m%20-1092.82%2C-324.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20m%20-955.18%2C-187.18%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20m%20-1024%2C1024%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20m%20187.18%2C955.18%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20m%20324.82%2C1092.82%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20m%20187.18%2C955.18%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20m%20324.82%2C1092.82%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%3Bm%200%2C0%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20m%20-1077.86%2C-309.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20m%20-970.14%2C-202.14%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20m%20-1077.86%2C-309.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20m%20-970.14%2C-202.14%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20m%20-1024%2C1024%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20m%20202.14%2C970.14%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20m%20309.86%2C1077.86%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20m%20202.14%2C970.14%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20m%20309.86%2C1077.86%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%3Bm%200%2C0%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20m%20-1059.9%2C-291.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20m%20-988.1%2C-220.1%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20m%20-1059.9%2C-291.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20m%20-988.1%2C-220.1%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20m%20-1024%2C1024%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20m%20220.1%2C988.1%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20m%20291.9%2C1059.9%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20m%20220.1%2C988.1%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20m%20291.9%2C1059.9%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%3Bm%200%2C0%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20m%20-1041.95%2C-273.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20m%20-1006.05%2C-238.05%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20m%20-1041.95%2C-273.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20m%20-1006.05%2C-238.05%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20m%20-1024%2C1024%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20m%20238.05%2C1006.05%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20m%20273.95%2C1041.95%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20m%20238.05%2C1006.05%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20m%20273.95%2C1041.95%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%3Bm%200%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%3Bm%200%2C0%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20m%20-1006.05%2C-238.05%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20m%20-1041.95%2C-273.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20m%20-1006.05%2C-238.05%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20m%20-1041.95%2C-273.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20m%20-1024%2C1024%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20m%20273.95%2C1041.95%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20m%20238.05%2C1006.05%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20m%20273.95%2C1041.95%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20m%20238.05%2C1006.05%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%3Bm%200%2C0%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20m%20-988.1%2C-220.1%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20m%20-1059.9%2C-291.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20m%20-988.1%2C-220.1%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20m%20-1059.9%2C-291.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20m%20-1024%2C1024%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20m%20291.9%2C1059.9%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20m%20220.1%2C988.1%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20m%20291.9%2C1059.9%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20m%20220.1%2C988.1%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%3Bm%200%2C0%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20m%20-970.14%2C-202.14%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20m%20-1077.86%2C-309.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20m%20-970.14%2C-202.14%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20m%20-1077.86%2C-309.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20m%20-1024%2C1024%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20m%20309.86%2C1077.86%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20m%20202.14%2C970.14%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20m%20309.86%2C1077.86%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20m%20202.14%2C970.14%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%3Bm%200%2C0%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20m%20-955.18%2C-187.18%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20m%20-1092.82%2C-324.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20m%20-955.18%2C-187.18%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20m%20-1092.82%2C-324.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20l%20324.82%2C68.82%20l%20187.18%2C-68.82%20m%20-1024%2C1024%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20m%20324.82%2C1092.82%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20m%20187.18%2C955.18%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20m%20324.82%2C1092.82%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20m%20187.18%2C955.18%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%20l%2068.82%2C-187.18%20l%20-68.82%2C-324.82%3Bm%200%2C0%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20m%20-970.14%2C-202.14%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20m%20-1077.86%2C-309.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20m%20-970.14%2C-202.14%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20m%20-1077.86%2C-309.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20l%20309.86%2C53.86%20l%20202.14%2C-53.86%20m%20-1024%2C1024%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20m%20309.86%2C1077.86%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20m%20202.14%2C970.14%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20m%20309.86%2C1077.86%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20m%20202.14%2C970.14%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%20l%2053.86%2C-202.14%20l%20-53.86%2C-309.86%3Bm%200%2C0%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20m%20-988.1%2C-220.1%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20m%20-1059.9%2C-291.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20m%20-988.1%2C-220.1%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20m%20-1059.9%2C-291.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20l%20291.9%2C35.9%20l%20220.1%2C-35.9%20m%20-1024%2C1024%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20m%20291.9%2C1059.9%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20m%20220.1%2C988.1%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20m%20291.9%2C1059.9%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20m%20220.1%2C988.1%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%20l%2035.9%2C-220.1%20l%20-35.9%2C-291.9%3Bm%200%2C0%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20m%20-1006.05%2C-238.05%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20m%20-1041.95%2C-273.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20m%20-1006.05%2C-238.05%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20m%20-1041.95%2C-273.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20l%20273.95%2C17.95%20l%20238.05%2C-17.95%20m%20-1024%2C1024%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20m%20273.95%2C1041.95%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20m%20238.05%2C1006.05%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20m%20273.95%2C1041.95%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20m%20238.05%2C1006.05%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%20l%2017.95%2C-238.05%20l%20-17.95%2C-273.95%3Bm%200%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C-256%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20l%20256%2C0%20m%20-1024%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20m%20256%2C1024%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%20l%200%2C-256%22%3E%3C%2Fanimate%3E%3CanimateTransform%20attributeName%3D%22transform%22%20repeatCount%3D%22indefinite%22%20calcMode%3D%22linear%22%20dur%3D%228500ms%22%20type%3D%22translate%22%20values%3D%22-256%20768%3B-233.74%20790.26%3B-211.48%20812.52%3B-189.22%20834.78%3B-170.67%20853.33%3B-189.22%20834.78%3B-211.48%20812.52%3B-233.74%20790.26%3B-256%20768%3B-278.26%20745.74%3B-300.52%20723.48%3B-322.78%20701.22%3B-341.33%20682.67%3B-322.78%20701.22%3B-300.52%20723.48%3B-278.26%20745.74%3B-256%20768%22%3E%3C%2FanimateTransform%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
	background-size: 676px;
	background-position: center;
	background-repeat: repeat;
	border-radius: var(--border-radius-tl) var(--border-radius-tr)
		var(--border-radius-br) var(--border-radius-bl);
	border-top: solid 1px rgba(255, 255, 255, 0.2);
	border-right: solid 1px rgba(255, 255, 255, 0.2);
	border-bottom: solid 1px rgba(255, 255, 255, 0.2);
	border-left: solid 1px rgba(255, 255, 255, 0.2);
	transition: opacity 1s ease 0s, transform 1s ease 0s;
}
